apiVersion: apps/v1
kind: Deployment
metadata:
  name: deploy-app
  labels:
    app: app1
spec:
  replicas: 6
  selector:
    matchLabels:
      app: app1
  template:
    metadata:
      labels:
        app: app1
    spec:
      containers:
      - name: cont1
        image: phanijagannadh/myproject:
        ports:
        - containerPort: 8080
